/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #d33682; } /* keyword - dark pink */
pre .com, code .com { color: #586e75; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #cb4b16; } /* literal - orange */
pre .pun, code .pun { color: #859900; } /* punctuation - khaki */
pre .pln, code .pln { color: #657b83; } /* plaintext - white */
pre .tag, code .tag { color: #258bd2; } /* html/xml tag    -  blue */
pre .atn, code .atn { color: #859900; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #2aa198; } /* html/xml attribute value - cyan */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.lang-css .pln, code.lang-css .pln { color: #3387CC; } /* css selector*/

pre.prettyprint, code.prettyprint {
   	background-color: #073642; /* 073642 / fdf6e3 */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

pre.prettyprint {
	margin: 0 0 1.5em;
    padding: 0;
	white-space: pre-wrap;
}
pre.prettyprint code { display: block; margin: 10px }


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
